*{ margin:0;padding:0;box-sizing: border-box;}
.container { width: 100%; padding: 10px; }
.row{width:100%;}
.row::after,
.row::before{
    content:'';
    display: block;
    clear: both;
}
[class*="col-"]{
    padding: 10px;
    float:left;
}
@media all and ( min-width: 768px ){
.col-md-1 { width: 8.333%; }
	.col-md-2 { width: 16.666%; }
	.col-md-3 { width: 25%; }
	.col-md-4 { width: 33.333%; }
	.col-md-5 { width: 41.666%; }
	.col-md-6 { width: 50%; }
	.col-md-7 { width: 58.333%; }
	.col-md-8 { width: 66.666%; }
	.col-md-9 { width: 75%; }
	.col-md-10 { width: 83.333%; }
	.col-md-11 { width: 91.666%; }
	.col-md-12 { width: 100%; }
}
@media all and (max-width:768px){
.col-sm-1 { width: 8.333%; }
	.col-sm-2 { width: 16.666%; }
	.col-sm-3 { width: 25%; }
	.col-sm-4 { width: 33.333%; }
	.col-sm-5 { width: 41.666%; }
	.col-sm-6 { width: 50%; }
	.col-sm-7 { width: 58.333%; }
	.col-sm-8 { width: 66.666%; }
	.col-sm-9 { width: 75%; }
	.col-sm-10 { width: 83.333%; }
	.col-sm-11 { width: 91.666%; }
	.col-sm-12 { width: 100%; }
}
/*文字居中*/
[class*='col-']>div { 
    border: 1px solid #999;
    background-color: #eee;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
