*{margin: 0;padding: 0;box-sizing:border-box;}
.container{
    height: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.box{
width:150px;
border: 1px solid #f00;

}
.box1{

height: 120px;

}
.box2{
 
  height: 100px;

}
.box3{

    height: 40px;

}
.box4{ 
   height: 200px;
   border: 1px solid #0f0;
}
/*小屏幕模式*/
@media screen and (max-width:640px){
    .container{
        align-items: flex-start;

    }
    .box4{
        order: -1;
    }
}